.transitionRight {
    animation: transitionRight 0.2s ease-in;
  }
  @keyframes transitionRight {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(0%);
    }
  }